img{
    max-height: 60vh;
    min-height: 60vh;
}
img:hover {
  -webkit-transform: scale(1.25) !important;
  -moz-transform: scale(1.25) !important;
  -o-transform: scale(1.25) !important;
  transform: scale(1.25) !important;
  position: relative;
  z-index: 2;
}

.minImg {
    max-height: 10vh;
    min-height: 10vh;
}
.minImg:hover{
     cursor: pointer;
 }

.background{
    background-color: lightgray;
}

.green{
    background-color: green;
    color: white;
}

.green:hover{
    background-color: #025d02;
    color: white;
}

.smashText{
    color: rgb(3, 167, 44);
}

.passText{
    color: rgb(223, 33, 8);
}

.modal {
    display: none; /* Por defecto, estará oculto */
    position: fixed; /* Posición fija */
    z-index: 1; /* Se situará por encima de otros elementos de la página*/
    padding-top: 200px; /* El contenido estará situado a 200px de la parte superior */
    left: 0;
    top: 0;
    width: 100%; /* Ancho completo */
    height: 100%; /* Algura completa */
    overflow: auto; /* Se activará el scroll si es necesario */
    background-color: rgba(0,0,0,0.5); /* Color negro con opacidad del 50% */
}

.contenido-modal {
    position: relative; /* Relativo con respecto al contenedor -modal- */
    background-color: white;
    margin: auto; /* Centrada */
    padding: 20px;
    width: 60%;
    -webkit-animation-name: animarsuperior;
    -webkit-animation-duration: 0.5s;
    animation-name: animarsuperior;
    animation-duration: 0.5s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animarsuperior {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


